<%= form_for(:session, url: login_path) do |form| %>
  <div class="text-field">
    <%= form.label "Email" %>
    <%= form.text_field :email, type: 'email' %>
  </div>
  <div class="text-field">
    <%= form.label "Password" %>
    <%= form.password_field :password %>
  </div>
  <div class="submit-field">
    <%= form.submit 'Log In' %>
  </div>
<% end %>
