<div class="text-field">
  <div class="form-label"><%= form.label "Organization Name" %></div>
  <%= form.text_field :org_name %>
</div>
<div class="text-field">
  <div class="form-label"><%= form.label :email %></div>
  <%= form.text_field :email %>
</div>
<div class="form-label"><%= form.label "Country" %></div>
<!-- <%= form.text_field :country %> -->
<%= render partial: '/users/country' %>
<div class="form-label"><%= form.label :zip_code %></div>
<%= form.text_field :zip_code %>
