<h3 class="org_name">
  <%= @user.org_name%>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_path(@user) %>
    <%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</h3>

<p class="user-info"> Email: <%= @user.email %> </p>
<p class="user-info"> Country: <%= @user.country %> </p>
<p class="user-info"> Member since: <%= @user.created_at.strftime("%b. %d, %Y") %> </p>
<p class="user-info"> Campaigns Created: <%= @user.campaigns.count %> </p>
<p class="user-info"> Campaign Signers: </p>

<h3>
  Current Campaigns
  <% if @user.campaigns.count == 0 %>
    Start your first campaign!
    <%= link_to image_tag("heavy-plus-sign.png", :alt => "Add New", :class => "add-new"), new_campaign_path(@user) %>
  <% else %>
    <% @user.campaigns.count %>
    <%= link_to image_tag("heavy-plus-sign.png", :alt => "Add New", :class => "add-new"), new_campaign_path(@user) %>
  <% end %>

</h3>

<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <% @user.campaigns.each do |cpgn| %>
        <h5 class="mb-1"><%= link_to cpgn.campaign_title, campaign_path(cpgn) %></h5>
        <small><%= cpgn.created_at.strftime("Created on: %b. %d, %Y") %></small>
        <p>Category: <%= cpgn.category %></p>
        <p>Target Goal: <%= number_with_delimiter(cpgn.target_signers_goal.to_i) %> signers</p>
        <p>
          <% if cpgn.action_takers.count == 0 %>
            <span class="badge badge-default badge-pill">No signers yet.</span>
          <% elsif cpgn.action_takers.count == 1 %>
            <span class="badge badge-default badge-pill">1 has signed.</span>
          <% else %>
            <span class="badge badge-default badge-pill"><%= cpgn.action_takers.count %> have signed.</span>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
