<%= form_for @action_taker do |form| %>
  <%= form.hidden_field :campaign_id, :value => @campaign.id %>
  <div class="form-label"><%= form.label :email %></div>
  <%= form.text_field :email %>
  <div class="form-label"><%= form.label :first_name %></div>
  <%= form.text_field :first_name %>
  <div class="form-label"><%= form.label :last_name %></div>
  <%= form.text_field :last_name %>
  <div class="form-label"><%= form.label "Phone" %></div>
  <%= form.phone_field :phone %>
  <div class="form-label"><%= form.label "Country" %></div>
  <%= render partial: '/users/country' %>
  <div class="form-label"><%= form.label "Zip Code" %></div>
  <%= form.text_field :zip_code %>

  <%= form.submit 'Take Action', class:"submit-btn" %>
<% end %>
