<div class="form-label"><%= form.label :category %></div>
<%= form.text_field :category %>
<div class="form-label"><%= form.label :campaign_title %></div>
<%= form.text_field :campaign_title %>
<div class="form-label"><%= form.label "Description" %></div>
<%= form.text_area :description %>
<div class="form-label"><%= form.label :call_to_action %></div>
<%= form.text_field :call_to_action %>
<div class="form-label"><%= form.label :target_email %></div>
<%= form.text_field :target_email %>
<div class="form-label"><%= form.label :target_name %></div>
<%= form.text_field :target_name %>
<div class="form-label"><%= form.label :target_signers_goal %></div>
<%= form.text_field :target_signers_goal %>
