<h1>
  <%= @campaign.campaign_title %>
  <% if @campaign.user == current_user %>
    <%= link_to "Edit", edit_campaign_path(@campaign) %>
    <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</h1>

<p><%= @campaign.description %></p>

<div class="action_box">
  <%= render partial: '/action_takers/takeaction', object: @campaign, as: 'action_taker' %>
</div>
