<h1 class="campaign-title">
  <%= @campaign.campaign_title %>
  <% if @campaign.user == current_user %>
    <%= link_to "Edit", edit_campaign_path(@campaign) %>
    <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</h1>

<div class="col-md-8 col-sm-6 col-xs-12">
  <%= image_tag(@campaign.image_url.to_s, size: "100", alt: "Campaign Image") if @campaign.image? %>

  <section class="cmpgn-tgt">
    campaign target: <%= @campaign.target_name %>
  </section>

  <section class="cmpgn-descrip">
    <%= @campaign.description %>
  </section>
</div>

<div class="action-form">
  <h3 class="CTA"><%= @campaign.call_to_action %></h3>
  <%= render partial: '/action_takers/takeaction', object: @campaign, as: 'action_taker' %>
</div>
