<nav class="navbar">
  <ul class="nav-links">
    <% if current_user %>
      <li class="nav-item"><%= link_to "Home", root_path, :class=> "nav-link" %></li>
      <li class="nav-item"><%= link_to image_tag('petition-icon.png', :alt => "Start a petition", :class => "petition-icon nav-link"), new_campaign_path(@campaign) %><%= link_to "Start Campaign", new_campaign_path(@campaign) %></li>

      <li class="nav-item"><%= link_to "Campaigns", campaigns_path, :class=> "nav-link" %></li>
      <li class="nav-item"><%= link_to image_tag('bear-icon.png', :alt => "Profile", :class => "profile-icon nav-link"), user_path(current_user) %><%= link_to "Profile", user_path(current_user) %></li>
      <li class="nav-item"><%= link_to "Log out", logout_path, :class=> "nav-link" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Home", root_path, :class=> "nav-link" %></li>
      <li class="nav-item"><%= link_to image_tag('petition-icon.png', :alt => "Start a petition", :class => "petition-icon nav-link"), new_campaign_path(@user) %></li>
      <li class="nav-item"><%= link_to "Start a petition", new_campaign_path(@user), :class=> "nav-link" %></li>

      <li class="nav-item"><%= link_to "Campaigns", campaigns_path, :class=> "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign up", new_user_path, :class=> "nav-link" %></li>
      <li class="nav-item"><%= link_to "Log in", login_path, :class=> "nav-link" %></li>
    <% end %>
  </ul>
  <hr>
</nav>
