<!DOCTYPE html>
<html>
  <head>
    <title>Grumpy Bear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag("grumpybear.png", height: '15px') %>
  </head>

  <header><h1 class="header">Grumpy Bear</h1></header>

  <p class="tagline">growling for progress since the dawn of bears</p>

  <div class="menu-bar">
    <%= render partial: '/layouts/navbar'%>
  </div>
  <body class="container">

      <% if flash[:error] %>
        <div class="error flash"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice flash"><%= flash[:notice] %></div>
      <% end %>

    <%= yield %>
  </body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <footer class="footer">© 2017 Grumpy Bear</footer>
</html>
