<!DOCTYPE html>
<html>
  <head>
    <title>Grumpy Bear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <body class="container">
    <%= yield %>
  </body>
</html>
