<!DOCTYPE html>
<html>
  <head>
    <title>Grumpy Bear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header><h1>Grumpy Bear</h1></header>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= render partial: '/layouts/navbar'%>

  <body class="container">
    <%= yield %>
  </body>

  <footer class="footer">© 2017 Grumpy Bear</footer>
</html>
