<!DOCTYPE html>
<html>
  <head>
    <title>Grumpy Bear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header><h1 class="header">Grumpy Bear</h1></header>

  <p class="tagline">growling for progress since the dawn of bears</p>
  <div class="fb-share-button" data-href="https://grumpybear.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgrumpybear.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="menu-bar">
    <%= render partial: '/layouts/navbar'%>
  </div>
  <body class="container">
    <%= yield %>
  </body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <footer class="footer">© 2017 Grumpy Bear</footer>
</html>
